In [1]:
import pandas as pd
import numpy as np

In [2]:
# herramienta para trabjar los DataFrames como hojas de excel
# pip install mitoinstaller
import mitosheet 
# mitosheet.sheet()

# Cargo los datos que me dan

In [44]:
amazon = pd.read_csv(r"Datasets/amazon_prime_titles-score.csv")
disney = pd.read_csv(r"Datasets/disney_plus_titles-score.csv")
hulu = pd.read_csv(r"Datasets/hulu_titles-score (2).csv")
netflix = pd.read_csv(r"Datasets/netflix_titles-score.csv")

# Limpieza de Datos

## Generar campo **`id`**: Cada id se compondrá de la primera letra del nombre de la plataforma, seguido del show_id ya presente en los datasets (ejemplo para títulos de Amazon = **`as123`**)

### Primero rectifico los tipos de datos

In [45]:
# amazon
amazon['show_id'] = amazon['show_id'].astype('str')
amazon['type'] = amazon['type'].astype('category')
amazon['title'] = amazon['title'].astype('str')
amazon['director'] = amazon['director'].astype('str')
amazon['cast'] = amazon['cast'].astype('str')
amazon['country'] = amazon['country'].astype('str')
amazon['date_added'] = pd.to_datetime(amazon['date_added'], infer_datetime_format=True, errors='coerce')
amazon['release_year'] = amazon['release_year'].astype('int16')
amazon['rating'] = amazon['rating'].astype('str')
amazon['listed_in'] = amazon['listed_in'].astype('str')
amazon['description'] = amazon['description'].astype('str')
amazon['score'] = amazon['score'].astype('int8')

In [58]:
amazon['id'] = 'a' + amazon['show_id']

In [59]:
amazon['id'] = amazon['id'].astype('str')

In [75]:
# disney
disney['show_id'] = disney['show_id'].astype('str')
disney['type'] = disney['type'].astype('category')
disney['title'] = disney['title'].astype('str')
disney['director'] = disney['director'].astype('str')
disney['cast'] = disney['cast'].astype('str')
disney['country'] = disney['country'].astype('str')
disney['date_added'] = pd.to_datetime(disney['date_added'], infer_datetime_format=True, errors='coerce')
disney['release_year'] = disney['release_year'].astype('int16')
disney['rating'] = disney['rating'].astype('str')
disney['listed_in'] = disney['listed_in'].astype('str')
disney['description'] = disney['description'].astype('str')
disney['score'] = disney['score'].astype('int8')

In [65]:
disney['id'] = 'd' + disney['show_id']

In [66]:
disney['id'] = disney['id'].astype('str')

In [76]:
# hulu
hulu['show_id'] = hulu['show_id'].astype('str')
hulu['type'] = hulu['type'].astype('category')
hulu['title'] = hulu['title'].astype('str')
hulu['director'] = hulu['director'].astype('str')
hulu['cast'] = hulu['cast'].astype('str')
hulu['country'] = hulu['country'].astype('str')
hulu['date_added'] = pd.to_datetime(hulu['date_added'], infer_datetime_format=True, errors='coerce')
hulu['release_year'] = hulu['release_year'].astype('int16')
hulu['rating'] = hulu['rating'].astype('str')
hulu['listed_in'] = hulu['listed_in'].astype('str')
hulu['description'] = hulu['description'].astype('str')
hulu['score'] = hulu['score'].astype('int8')

In [78]:
hulu['id'] = 'h' + hulu['show_id']

In [80]:
hulu['id'] = hulu['id'].astype('str')

In [86]:
# netflix
netflix['show_id'] = netflix['show_id'].astype('str')
netflix['type'] = netflix['type'].astype('category')
netflix['title'] = netflix['title'].astype('str')
netflix['director'] = netflix['director'].astype('str')
netflix['cast'] = netflix['cast'].astype('str')
netflix['country'] = netflix['country'].astype('str')
netflix['date_added'] = pd.to_datetime(netflix['date_added'], infer_datetime_format=True, errors='coerce')
netflix['release_year'] = netflix['release_year'].astype('int16')
netflix['rating'] = netflix['rating'].astype('str')
netflix['listed_in'] = netflix['listed_in'].astype('str')
netflix['description'] = netflix['description'].astype('str')
netflix['score'] = netflix['score'].astype('int8')

In [87]:
netflix['id'] = 'n' + netflix['show_id']

In [88]:
netflix['id'] = netflix['id'].astype('str')

## Los valores nulos del campo rating deberán reemplazarse por el string “**`G`**” (corresponde al maturity rating: “general for all audiences”

In [114]:
amazon.loc[amazon.rating == 'nan','rating'] = 'G'
amazon.loc[amazon.rating == 'NaN','rating'] = 'G'

In [116]:
disney.loc[disney.rating == 'nan','rating'] = 'G'
disney.loc[disney.rating == 'NaN','rating'] = 'G'

In [121]:
hulu.loc[hulu.rating == 'nan','rating'] = 'G'
hulu.loc[hulu.rating == 'NaN','rating'] = 'G'

In [125]:
netflix.loc[netflix.rating == 'nan','rating'] = 'G'
netflix.loc[netflix.rating == 'NaN','rating'] = 'G'

In [126]:
netflix[netflix.rating == 'G'].shape

(4, 16)

In [124]:
netflix.shape

(8807, 16)

##  De haber fechas, deberán tener el formato **`AAAA-mm-dd`**

In [50]:
amazon['date_added'] = pd.to_datetime(amazon['date_added'], infer_datetime_format=True, errors='coerce')

In [54]:
amazon['date_added'].head()

0   2021-03-30
1   2021-03-30
2   2021-03-30
3   2021-03-30
4   2021-03-30
Name: date_added, dtype: datetime64[ns]

In [69]:
disney['date_added'] = pd.to_datetime(disney['date_added'], infer_datetime_format=True, errors='coerce')

In [70]:
disney['date_added'].head()

0   2021-03-30
1   2021-03-30
2   2021-03-30
3   2021-03-30
4   2021-03-30
Name: date_added, dtype: datetime64[ns]

In [81]:
hulu['date_added'] = pd.to_datetime(hulu['date_added'], infer_datetime_format=True, errors='coerce')

In [82]:
hulu['date_added'].head()

0   2021-10-24
1   2021-10-23
2   2021-10-23
3   2021-10-22
4   2021-10-22
Name: date_added, dtype: datetime64[ns]

In [89]:
netflix['date_added'] = pd.to_datetime(netflix['date_added'], infer_datetime_format=True, errors='coerce')

In [90]:
netflix['date_added'].head()

0   2021-09-25
1   2021-09-24
2   2021-09-24
3   2021-09-24
4   2021-09-24
Name: date_added, dtype: datetime64[ns]

## El campo ***duration*** debe convertirse en dos campos: **`duration_int`** y **`duration_type`**. El primero será un integer y el segundo un string indicando la unidad de medición de duración: min (minutos) o season (temporadas)

In [55]:
amazon[['duration_int', 'duration_type']] = amazon['duration'].str.split(' ', n=-1, expand=True, regex=None)
amazon = amazon[amazon.columns[:10].tolist() + ['duration_int', 'duration_type'] + amazon.columns[10:-2].tolist()]

In [56]:
amazon[['duration_int', 'duration_type']].head()

  duration_int duration_type
0          113           min
1          110           min
2           74           min
3           69           min
4           45           min

In [71]:
disney[['duration_int', 'duration_type']] = disney['duration'].str.split(' ', n=-1, expand=True, regex=None)
disney = disney[disney.columns[:10].tolist() + ['duration_int', 'duration_type'] + disney.columns[10:-2].tolist()]

In [72]:
disney[['duration_int', 'duration_type']].head()

  duration_int duration_type
0           23           min
1           91           min
2           23           min
3           41           min
4            1        Season

In [83]:
hulu[['duration_int', 'duration_type']] = hulu['duration'].str.split(' ', n=-1, expand=True, regex=None)
hulu = hulu[hulu.columns[:10].tolist() + ['duration_int', 'duration_type'] + hulu.columns[10:-2].tolist()]

In [84]:
hulu[['duration_int', 'duration_type']].head()

  duration_int duration_type
0          NaN           NaN
1           94           min
2          108           min
3           97           min
4          104           min

In [91]:
netflix[['duration_int', 'duration_type']] = netflix['duration'].str.split(' ', n=-1, expand=True, regex=None)
netflix = netflix[netflix.columns[:10].tolist() + ['duration_int', 'duration_type'] + netflix.columns[10:-2].tolist()]

In [92]:
netflix[['duration_int', 'duration_type']].head()

  duration_int duration_type
0           90           min
1            2       Seasons
2            1        Season
3            1        Season
4            2       Seasons

## Los campos de texto deberán estar en **minúsculas**, sin excepciones

In [74]:
# amazon
amazon['id'] = amazon['id'].str.lower()
amazon['type'] = amazon['type'].str.lower()
amazon['title'] = amazon['title'].str.lower()
amazon['director'] = amazon['director'].str.lower()
amazon['cast'] = amazon['cast'].str.lower()
amazon['country'] = amazon['country'].str.lower()
amazon['rating'] = amazon['rating'].str.lower()
amazon['listed_in'] = amazon['listed_in'].str.lower()
amazon['description'] = amazon['description'].str.lower()
amazon['duration_type'] = amazon['duration_type'].str.lower()

In [73]:
# disney
disney['id'] = disney['id'].str.lower()
disney['type'] = disney['type'].str.lower()
disney['title'] = disney['title'].str.lower()
disney['director'] = disney['director'].str.lower()
disney['cast'] = disney['cast'].str.lower()
disney['country'] = disney['country'].str.lower()
disney['rating'] = disney['rating'].str.lower()
disney['listed_in'] = disney['listed_in'].str.lower()
disney['description'] = disney['description'].str.lower()
disney['duration_type'] = disney['duration_type'].str.lower()

In [85]:
# hulu
hulu['id'] = hulu['id'].str.lower()
hulu['type'] = hulu['type'].str.lower()
hulu['title'] = hulu['title'].str.lower()
hulu['director'] = hulu['director'].str.lower()
hulu['cast'] = hulu['cast'].str.lower()
hulu['country'] = hulu['country'].str.lower()
hulu['rating'] = hulu['rating'].str.lower()
hulu['listed_in'] = hulu['listed_in'].str.lower()
hulu['description'] = hulu['description'].str.lower()
hulu['duration_type'] = hulu['duration_type'].str.lower()

In [93]:
# netflix
netflix['id'] = netflix['id'].str.lower()
netflix['type'] = netflix['type'].str.lower()
netflix['title'] = netflix['title'].str.lower()
netflix['director'] = netflix['director'].str.lower()
netflix['cast'] = netflix['cast'].str.lower()
netflix['country'] = netflix['country'].str.lower()
netflix['rating'] = netflix['rating'].str.lower()
netflix['listed_in'] = netflix['listed_in'].str.lower()
netflix['description'] = netflix['description'].str.lower()
netflix['duration_type'] = netflix['duration_type'].str.lower()

# Salvo en disco un fichero con los 4 dataframes juntos.
# se llamará data_origen y este sera los datos de entrada en Ingenieria_Datos_II.ipynb

In [127]:
data = pd.concat([amazon,disney,hulu,netflix])

In [147]:
data.to_csv(r"C:\Users\ornal\Desktop\PI01-Data-Engineering\API Server\data_origen.csv")